/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/P4w0rIAMy9km.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/CZxVIxHTFzHy.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/DJATWS1BXM9p.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/wKNPqf1jJydK.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/BnFZ46pTwX5c.otf') format('truetype');
}