/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/6ZKAnsTS8eGY.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/4Lb5ETvis9vm.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/jEZjFOw7n7kq.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/TSFn4HEpV7X3.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/paaDlhqZmjUx.otf') format('truetype');
}