/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/Tk4FokRvstbd.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/gmOHLHqNYo4p.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/JEVOB9v6TCET.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/TPqRBrhU6eVR.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/m56GXJMOD2Us.otf') format('truetype');
}