/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/CmJHyHLroNka.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/jYTLMYq4x5kM.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/kQ20BBOEXpbJ.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/YnDL3QdgVOnh.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/VvBx6dVOJULf.otf') format('truetype');
}