/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/1IQhrUjzdE3R.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/Eu7w3JMgfQUV.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/YT4Z3uBBb1wz.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/57J5ge8Jj7l0.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/zU6cZ5xINVOA.otf') format('truetype');
}