/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/gVPJBkm5oEpv.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/OLJJSZS09gaA.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/zD4F8h397C3f.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/dDtp2bkDUa6P.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/igYCXuIPHlmT.otf') format('truetype');
}