/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/5kFENzNcBt4R.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/z2MAwDZKgdMs.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/GpWspoyTll2w.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/pa29z6V2I35m.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/h2f2n0pkcDbU.otf') format('truetype');
}