/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/egKTkXYXaxis.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/R0bKOE2ItnFH.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/WtlK7kPJWlap.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/9tkMFHaU6N3P.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/n8u6iE4CUvvm.otf') format('truetype');
}