/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/PY8wGNaF0QfI.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/zv7x6h1L1kBW.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/998mgFDXeSz5.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/ZCcL1ekNMFUZ.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/hf0lp6Cwjfpw.otf') format('truetype');
}