/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/UjhwUnZJAQSV.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/MBaaeldzHyjk.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/1rb5a0rWU9ab.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/FZDzvKIYmeuu.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/Hi0PZ0pelBXS.otf') format('truetype');
}