/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/OmhUunnfGHdj.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/jd9d7Ilf0T3S.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/4sOfvEVbsl4x.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/WTzBarznWkRm.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/bY1WVn0UN200.otf') format('truetype');
}