/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/PSe6wJGtGeE3.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/nFb1X3CTVtr0.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/T7BoZIbBU1KG.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/S1LX0z2VSujt.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/4ocDJ2ALuo4h.otf') format('truetype');
}