/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/v0siFcvk5XkG.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/CcMo0zrbnQH9.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/nKzfgZGv9REO.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/x0rwMSBc8RnG.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/LJ6jNwvVMrIq.otf') format('truetype');
}