/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/z4IqISBtjk5a.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/YUmJ4gvQfFJ6.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/WSbMUOopLscC.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/31j8tG6j9lyq.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/jYQKHSgUEd5z.otf') format('truetype');
}