/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/CjCwFKlZ1nDj.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/xZKMaflRUyEr.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/Eju4nDYsVtkG.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/l6oYYZJJiyUp.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/tGjVAF6SC0ox.otf') format('truetype');
}